<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class ="market-container">
        <button ng-click="marketCtrl.service.update()">Update</button>
        <table>
        <tr>
            <th>Symbol</th>
            <th>Bid Price</th>
            <th>Ask Price</th>
            <th>Bid Volume</th>
            <th>Ask Volume</th>
        </tr>
        
        <tr ng-repeat="report in marketCtrl.service.mostRecentStatus">
            <td>{{report.symbol}}</td>
            <td>{{report.bidPrice}}</td>
            <td>{{report.askPrice}}</td>
            <td>{{report.bidVolume}}</td>
            <td>{{report.askVolume}}</td>
        </tr>
    </table>
    </div>
 

